!!!
html(lang="en")
  head
    != partial("js/moment")
    != partial("js/typogr")
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ name }
    link(rel="stylesheet", href="/assets/css/app.css")
    link(rel="alternate", type="application/rss+xml", title="#{ name } RSS", href="http://feeds.justagwailo.com/justagwailo/raspberry")
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    article#content
      .container.main-content
        .row
          .col-sm-8.main
            if date 
              time(datetime="#{ date }")
                != typogr.typogrify(moment(date).format('MMMM Do YYYY'))
            != yield
          .col-sm-offset-1.col-sm-3.aside
            p: a(href="/"): img.aside-profile-img.aside-img(src="http://www.gravatar.com/avatar/37ed752266cb6c339d3b33013d5afc17.png", alt="#{ author }'s Gravatar")
            p: strong #{ author }
            p #{ tagline }
            p Twitter: 
              a(href="http://twitter.com/#{ twitter }") @#{ twitter }
    hr

    footer
      .container
        .row
          .col-sm-6
            p: small &copy; 2013 #{ author }
          .col-sm-6
            p.pull-right
              small: a(href="http://feeds.justagwailo.com/justagwailo/raspberry", title="#{ name } RSS feed")
                img.rss-feed(src="/assets/images/feed-icon.png")
                |  RSS feed

    script(src="/assets/js/app.js")