include _shared/_sidebar
doctype
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ name }
    link(rel="stylesheet", href="/assets/css/app.css")
    link(rel="alternate", type="application/rss+xml", title="#{ name } RSS", href="http://feeds.justagwailo.com/justagwailo/raspberry")
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    article#content
      .container.main-content
        .row
          .col-sm-8.main
            != yield
          .col-sm-offset-1.col-sm-3.aside
            +profile
    hr

    footer
      .container
        .row
          .col-sm-6
            p: small &copy; 2013 #{ author }
          .col-sm-6
            p.pull-right
              small: a(href="http://feeds.justagwailo.com/justagwailo/raspberry", title="#{ name } RSS feed")
                img.rss-feed(src="/assets/images/feed-icon.png", alt="#{ name } RSS feed")
                |  RSS feed

    script(src="/assets/js/app.js").