- require "typogr"
!!!xml
rss(version='2.0')
  channel  
    title #{ name }
    link #{ site_url }/
    description #{ tagline }
    each post, slug in public.posts._data
      item
        title #{ post.title }
        link #{ site_url }/posts/#{ slug }
        description #{ post.description }
        pubdate
          != typogr.typogrify(moment(post.date).format())
